<h2>All Heroines</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Super Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heroines.each do |heroine| %>
      <tr>
        <td><%= heroine.name %></td>
        <td><%= heroine.super_name %></td>
        <td><%= link_to 'Show', heroine %></td>
        <td><%= link_to 'Edit', edit_heroine_path(heroine) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>