<h1><%= @heroine.super_name %></h1>
<h3><%= @heroine.name %></h3>

<h3>Powers</h3>
<ul>
<% @heroine.powers.each do |p| %>
<li><%= link_to p.name, power_path(p) %></li>
<% end %>
</ul>

<br><br>
<%= link_to "List of Heroines", heroines_path %>